:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --therd-text-color: #ffffff;
  --transition-dur-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--therd-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.folio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* тут розташоване logo Webstudio і ссилки HEADER */
.logo {
  margin-right: 93px;
  color: var(--secondary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.web {
  color: var(--accent-color);
}

.list-marg:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-funk);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.studio-link {
  color: var(--accent-color);
  
}

.my-head .link-line::after {
  position: absolute;
  bottom: 0;
  left: 30;
  display: block;
  content: '';
  width: 42px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  
}

.port-link::after {
  position: absolute;
    bottom: 0;
    left: 30;
    display: block;
    content: '';
    width: 78px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.carent {
  color: var(--accent-color);
}

.nav-addres {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-funk);
}

.nav-addres:hover,
.nav-addres:focus {
  color: var(--accent-color);
}

.head-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  
}

.my-head {
  border: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.head-nav {
  display: flex;
  align-items: center;
}

.head-addres {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.svg-contact {
  margin-right: 10px;
  fill: currentColor;
}

/*HEADER*/
/* СЕКЦІЯ ГЕРОЙЙЙЙЙЙ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herp-title/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--therd-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
}

.hero-btn {
  margin: 0 auto;
  padding: 10px 32px;
  color: var(--therd-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 216px;
  height: 50px;
  transition: background-color var(--transition-dur-and-funk),
   box-shadow var(--transition-dur-and-funk);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*секція HERO*/
/* секція про нас*/
.about-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
}

.about-text {
  line-height: 1.7;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-width {
  min-width: 270px;
}
.svg-about {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*Секція про нас*/
/* секція що ми робимо */
.list-whattodo {
  display: flex;
  gap: 30px;
}

.section-pad {
  padding-top: 0px;
  padding-bottom: 94px;
}

.position-whatwedo {
  position: relative;
}
.position-text {
  position: absolute;
  bottom: 0;

  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--therd-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/*секція що ми робимо*/
/* секція про нашу команду */

.section-title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  text-align: center;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.div-member {
  padding: 24px 30px;
  background-color: var(--therd-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cards-color:nth-child(n + 7) {
  border: 1px solid #eeeeee;
}

.list-member {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.member-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link-member-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  gap: 10px;
  color: #afb1b8;
  background-color: var(--therd-text-color);
  transition: color var(--transition-dur-and-funk),
   background-color var(--transition-dur-and-funk);
}

.link-member-svg:hover,
.link-member-svg:focus {
  color: var(--therd-text-color);
  background-color: var(--accent-color);
}
.focus-svg {
  fill: currentColor;
}

/* ПОCТІЙНІ КЛІЄНТИ */
.svg-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clien-li {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: border-color var(--transition-dur-and-funk);
}

.clien-li:hover,
.clien-li:focus {
  border-color: var(--accent-color);
}

.svg-client {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-funk);
}
.svg-client:hover,
.svg-client:focus {
  fill: var(--accent-color);
}

/* ПОCТІЙНІ КЛІЄНТИ */

.color-member-team {
  background-color: #f5f4fa;
}

/*секція про нашу команду*/
/* сторінка портфоліо */
/* кнопки */

.list-bottoms {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: #ebebf4;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-funk),
   background-color var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--therd-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
  color: var(--therd-text-color);
  background-color: var(--accent-color);
}

/* головна секція */

.border-li {
  border: 1px solid #eeeeee;
}

.div-portfolio-cards {
  padding: 24px 30px;
  background-color: var(--therd-text-color);
  border-radius: 0px 0px 4px 4px;
}
.portfolio-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.shadow-link {
  color: var(--primary-text-color);
}
.div-overlay {
  position: relative;
  overflow: hidden;
}

.shadow-link:hover .overlay,
.shadow-link:focus .overlay {
  transform: translateY(0%);
}

.overlay {
  padding: 63px 24px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  color: var(--therd-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-funk);
}

.shadow-div {
  transition: box-shadow var(--transition-dur-and-funk);
}

.shadow-div:hover,
.shadow-div:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* адреса і контакти для футера тут і задній фон для нього */

.logo-foot {
  display: block;
  margin-right: 156px;
  margin-bottom: 20px;
  color: var(--therd-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.foot-addres {
  color: var(--therd-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.foot-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  transition: color var(--transition-dur-and-funk);
}

.foot-contact:hover,
.foot-contact:focus {
  color: var(--accent-color);
}

.back-foot {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-title {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}
.list-foot {
  margin-bottom: 9px;
}

.top-div {
  display: flex;
  align-items: baseline;
}
.div-addres {
  display: block;
}
.div-h {
  display: block;
}

.link-footer-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  gap: 10px;
  color: var(--therd-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-funk);
}

.link-footer-svg:hover,
.link-footer-svg:focus {
  color: var(--therd-text-color);
  background-color: var(--accent-color);
}

.focus-footer-svg {
  fill: currentColor;
}
/* МОДАЛКА */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms ease, visibility 350ms ease;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--therd-text-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--therd-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
